<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>SAAS</title>
        <script src="../static/socket.io.js"
            integrity="sha512- q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>
        <script type="text/javascript">
            var socket = io();
            // Last detected waste type
            socket.on('detected_object', function (received_data) {
                document.getElementById('obj_det').innerText = received_data;
            });
            // Database updated, update graph
            socket.on('database_updated', function (chart_bar) {
                document.getElementById('db_updated').src = 'data:image/png;base64,' + chart_bar;
            });
            // Total amount of waste sorted updated, update website
            socket.on('amount_updated', function (received_amount) {
                document.getElementById('total_amount').innerText = received_amount;
            });
            // Update line graph
            socket.on('line_update', function (chart_line) {
                document.getElementById('line_chart').src = 'data:image/png;base64,' + chart_line;
            });
        </script>
    </head>

    <body>

        <h1>Smart Automatiseret AffaldsSortering</h1>
        <h2>Software As A Service</h2>
        <h3>Waste detection amount: <span id="total_amount">Waiting for amount</span></h3>
        <h3>Object: <span id="obj_det">Waiting for object</span></h3>
        <p>Last time a detection occured: <span id="obj_det_time">Work in progress // Waiting for timestamp</span></p>
        </br>
        <img id="bin_fill" class="img-fluid" src='data:image/png;base64,{{render_chart_bin}}' /> <!-- {{render_chart_bin}} has to match what's being returned in the render_template() in app.py -->
        </br>
        <img id="db_updated" class="img-fluid float-left" src='data:image/png;base64,{{render_chart_bar}}' /> <!-- {{render_chart_bar}} has to match what's being returned in the render_template() in app.py -->
        <img id="line_chart" class="img-fluid float-right" src='data:image/png;base64,{{render_chart_line}}' /> <!-- {{render_chart_line}} has to match what's being returned in the render_template() in app.py -->
    </body>

</html>